* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50;
}

h1 {
    background-color: bisque;
    padding: 50px;
}

h2 {
    background-color: aqua;
}

.table-cv{
	border-collapse:separate; 
    border-spacing: 8px;
}